@font-face {
  font-family: "OpenSans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf");
}
:root {
  --open-sans-font-family: "OpenSans";
  --regular-font-wight: 400;
  --main-font-color: #000000;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

/* Nav */
.logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.nav-logo-container,
.nav-main-container,
.nav-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main-container {
  min-width: 850px;
}

.nav-logo-container {
  min-width: 150px;
}

.nav-settings-container {
  min-width: 100px;
}

.logo-items,
.nav-main-items,
.settings-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main {
  min-width: 700px;
}

.nav-logo,
.nav-settings {
  min-width: 100px;
}

/*nav buttons*/
.nav-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #CBD5E0;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--open-sans-font-family);
  color: var(--main-font-color);
  font-size: 13px;
  cursor: pointer;
}
.button img {
  pointer-events: none;
  margin: 0 5px;
}

.button:hover {
  background-color: #CBD5E0;
}

.button-left {
  border-radius: 5px 0 0 5px;
}

.button-right {
  border-radius: 0 5px 5px 0;
}

.settings-button {
  border: 1px solid #CBD5E0;
  padding: 5px;
  border-radius: 5px;
}

.settings-button:hover {
  background-color: #CBD5E0;
}

/* Main Container */
.workspase-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100vh - 92px);
}

/* Columns */
.column {
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: auto;
}

.column-left {
  background-color: #EDF2F7;
  width: 20%;
  border: 1px solid #CBD5E0;
}

.explorer-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #CBD5E0;
}
.explorer-title img {
  margin: 5px 15px;
}
.explorer-title p {
  font-family: var(--open-sans-font-family);
  color: var(--main-font-color);
  font-size: 13px;
}

.explorer-subtitle p {
  margin: 10px 0;
  font-family: var(--open-sans-font-family);
  font-size: 12px;
  color: #4A5568;
}

.plannig-button {
  width: 100%;
  border: 1px solid #CBD5E0;
  margin: 15px 0;
}
.plannig-button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--open-sans-font-family);
  font-size: 13px;
  color: var(--main-font-color);
}
.plannig-button a img {
  margin: 6px 15px 6px 5px;
}

.column-right {
  background-color: #e0e0e0;
  width: 80%;
}

/* Divider */
.divider {
  width: 5px;
  background-color: #fff;
  cursor: ew-resize;
}

/* Explorer Column */
/* Drop Menu Modal*/
.modal {
  display: none;
  position: fixed;
  top: 20%;
  width: 300px;
  background-color: #fff;
  border: 1px solid #EDF2F7;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.visible {
  display: block;
}

.modal-content {
  margin: 35px 5px;
}

.modal-content::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #727B8F;
  display: block;
}

.management-item button {
  width: 100%;
  border-radius: 0;
  font-family: var(--open-sans-font-family);
  color: var(--main-font-color);
  font-size: 13px;
  margin: 10px 0;
  background-color: transparent;
}

.recent-divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recent-divider p {
  font-family: var(--open-sans-font-family);
  font-size: 13px;
  color: #727B8F;
  margin: 0 5px;
}

.recent-divider::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #727B8F;
}

.recent-divider::before {
  content: "";
  height: 1px;
  width: 10%;
  background-color: #727B8F;
}