* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  list-style-type: none;
  text-decoration: none;
  color: #000000;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

/* Nav */
.logo-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.nav-logo-container, .nav-main-container, .nav-settings-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main-container {
  min-width: 770px;
}

.nav-logo-container {
  min-width: 150px;
}

.nav-settings-container {
  min-width: 100px;
}

.logo-items, .nav-main-items, .settings-items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-main {
  min-width: 700px;
}

.nav-logo, .nav-settings {
  min-width: 100px;
}

/*nav buttons*/
.nav-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #CBD5E0;
  padding: 5px 10px;
  border-radius: 5px;
}
.button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button a img:first-child {
  margin-right: 5px;
}
.button a img:last-child {
  margin-left: 5px;
}

.button:hover {
  background-color: #CBD5E0;
}

.button-left {
  border-radius: 5px 0 0 5px;
}

.button-right {
  border-radius: 0 5px 5px 0;
}

.settings-button {
  border: 1px solid #CBD5E0;
  padding: 5px;
  border-radius: 5px;
}

.settings-button:hover {
  background-color: #CBD5E0;
}

/* workspace container */
.workspace-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}