*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a{
    list-style-type: none;
    text-decoration: none;
}

/* Nav */

.logo{
    display: flex;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

.nav-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-main, .nav-contact{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo, .nav-contact{
    min-width: 150px; 
}

.nav-main {
    min-width: 600px;
}

.nav-main-items, .contact-items{
    width: 100%;
    display: flex;
    justify-content: space-around;
}


/*nav buttons*/
.nav-buttons-container{
    display: flex;
}

.button{
    display: flex;
    border: 1px solid black;

    a{
        display: flex;
    }
}
