@font-face {
    font-family: "OpenSans";
    src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

:root {
    --open-sans-font-family: "OpenSans";
    --regular-font-wight: 400;
    --main-font-color: #000000;
}


* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    list-style-type: none;
    text-decoration: none;
    color: #000000;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
}

/* Nav */

.logo-items {
    display: flex;
}

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.nav-logo-container,
.nav-main-container,
.nav-settings-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main-container {
    min-width: 780px;
}

.nav-logo-container {
    min-width: 150px;
}

.nav-settings-container {
    min-width: 100px;
}

.logo-items,
.nav-main-items,
.settings-items {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-main {
    min-width: 700px;
}

.nav-logo,
.nav-settings {
    min-width: 100px;
}


/*nav buttons*/

.nav-buttons-container {
    display: flex;
}

.button {
    display: flex;
    border: 1px solid #CBD5E0;
    padding: 5px 10px;
    border-radius: 5px;

    a {
        display: flex;
        font-family: var(--open-sans-font-family);
        color: var(--main-font-color);
        font-size: 13px;
    }

    a img:first-child {
        margin-right: 5px;
    }

    a img:last-child {
        margin-left: 5px;
    }
}

.button:hover {
    background-color: #CBD5E0;
}

.button-left {
    border-radius: 5px 0 0 5px;
}

.button-right {
    border-radius: 0 5px 5px 0;
}

.settings-button {
    border: 1px solid #CBD5E0;
    padding: 5px;
    border-radius: 5px;
}

.settings-button:hover {
    background-color: #CBD5E0;
}


/* Main Container */
.workspase-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 92px);
}

/* Columns */
.column {
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}

.column-left {
    background-color: #EDF2F7;
    width: 30%;
    border: 1px solid #CBD5E0;
}

.explorer-title {
    display: flex;
    align-items: center;
    background-color: #CBD5E0;

    img {
        margin: 5px 15px;
    }

    p {
        font-family: var(--open-sans-font-family);
        color: var(--main-font-color);
        font-size: 13px;
    }
}

.explorer-subtitle p {
    margin: 10px 0;
    font-family: var(--open-sans-font-family);
    font-size: 12px;
    color: #4A5568;
}

.plannig-button {
    width: 100%;
    border: 1px solid #CBD5E0;
    margin: 15px 0;
    a {
        display: flex;
        align-items: center;
        font-family: var(--open-sans-font-family);
        font-size: 13px;
        color: var(--main-font-color);

        img{
            margin: 6px 15px 6px 5px;
        }
    }
}

.column-right {
    background-color: #e0e0e0;
    width: 70%;
}

/* Divider */
.divider {
    width: 5px;
    background-color: #fff;
    cursor: ew-resize;
}

/* Explorer Column */